.form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form .form-control {
    margin: 1rem 0;
}

.form .form-control label,
.form .form-control input {
    width: 100%;
    display: block;
}

.form .form-control label {
    margin-bottom: 0.2rem;
}

.form .form-control input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}

.form .form-actions button {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    background: #0edbff;
    border: none;
    font: inherit;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.20);
    cursor: pointer;
}

.form .form-actions button:hover,
.form .form-actions button:active {
    background: #17bbd8;
    color: #ccc;
}