.form .form-control {
    margin: 1rem 0;
}

.form .form-control label,
.form .form-control input {
    width: 100%;
    display: block;
}

.form .form-control label {
    margin-bottom: 0.2rem;
}

.form .form-control select,
.form .form-control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.btn {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    color: #ffffff;
    background: #0edbff;
    border: none;
    font: inherit;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0, 0.20);
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background: #0edbff;
    color: #ccc;
}

.actions {
    width: 90%;
    padding: 1rem;
    border: 1px solid #0edbff;
    border-radius: 0.5rem;
}